{% extends 'base.html' %}

{% block body %}
    <div class="container mt-2">
        <p>Esse projeto foi desenvolvido em liguagem Python (também utilizando HTML e CSS) e tem por objetivo colocar em prática algumas
            funcionalidades das ferramentas Flask e Bootstrap.</p>
        <p>Trata-se de uma rede social em formato de blog onde é possível criar usuários e realizar postagens.<br>
        Sinta-se à vontade para testar a plataforma e enviar suas críticas e comentários.<br>
        </p>
        <p>Felipe Seleme Ribeiro<br>
        <a href="https://www.linkedin.com/in/felipeselemeribeiro/"><small>LinkedIn</small></a> -
        <a href="https://github.com/FelipeSeleme"><small>GitHub</small></a></p>
        <hr>
        <p>Para usar o site:</p>
        <p>
            1. Crie uma conta fictícia (lembre-se dos dados)<br>
            2. Faça login com a conta criada<br>
            3. Edite o perfil inserindo uma foto<br>
            4. Faça uma postagem<br>
        </p>
    </div>
{% endblock %}
