{% extends 'base.html' %}

{% block body %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="image pe-2">
                <img src="{{ foto_perfil }}" class="rounded" width="155" >
            </div>
            <div class="ml-3 w-100">
                <h4 class="mb-0 mt-0">{{ current_user.username }}</h4>
                    <span>{{ current_user.email }}</span>
                        <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            {% if 'Não informado' in current_user.grupos %}
                                <div class="d-flex flex-column">
                                    <span class="articles">Grupos</span>
                                    <span class="number1">0</span>
                                </div>
                            {% else %}
                                <div class="d-flex flex-column">
                                    <span class="articles">Grupos</span>
                                    <span class="number1">{{ current_user.grupos.count(';') +1 }}</span>
                                </div>
                            {% endif %}
                            <div class="d-flex flex-column">
                                 <span class="rating">Posts</span>
                                <span class="number3">{{ current_user.contar_posts() }}</span>
                            </div>
                        </div>
                        <div class="button mt-2 d-flex flex-row align-items-center">
                            <a href="{{ url_for('editar_perfil') }}">
                            <button class="btn btn-sm btn-outline-primary w-100">Editar Perfil</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="row justify-content-center">
    <div class="col col-4" style="text-align: center">
        <strong>Grupos</strong><br>
        {% for grupo in current_user.grupos.split(';') %}
            <button type="button" class="btn btn-success mt-2" disabled>{{ grupo }}</button>
        {% endfor %}
    </div>
</div>




{% block form_editar_perfil %}
{% endblock %}
{% endblock %}
