{% extends 'base.html' %}

{% block body %}
    <div class="container mt-2">
        <div class="row mt-4 p-3 meupost">
            <div class="col col-2">
                <div class="image pe-2">
                    <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded" width="100" >
                </div>
                <strong>{{ post.autor.username }}</strong>
            </div>
            <div class="col col-10">
                <h3>{{ post.titulo }}<small class="text-muted" style="font-size: 10px"> - Data de criação: {{ post.data_criacao.strftime('%d/%m/%Y') }}
                    {% if form %}
                    - <a href="#form_editarpost">Editar</a> / <a href="#" data-bs-toggle="modal" data-bs-target="#ExcluirPost">Excluir</a>
                    {% endif %}
                </small>
                </h3>
                <p> {{ post.corpo }}</p>
            </div>
        </div>
    </div>

{% if form %}
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <form method="POST" action="" id="form_editarpost" class="p-4 mt-2">
                {{ form.csrf_token }}
                <hr>
                <Legend>Editar Post</Legend>
                    <div class="h-auto d-inline-block" style="width: 720px;">
                    <fieldset>
                        <div class="form-group">
                            {{ form.titulo.label(class="form-control-label") }}
                            {% if form.titulo.errors %}
                                {{ form.titulo(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form.titulo.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.titulo(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.corpo.label(class="form-control-label") }}
                            {% if form.corpo.errors %}
                                {{ form.corpo(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form.corpo.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.corpo(class="form-control") }}
                            {% endif %}
                        </div>
                    </fieldset>
                        <div class="mt-3">{{ form.botao_submit(class="btn btn-primary mt-2") }}</div>
                    </div>
                </form>
        </div>
    </div>
</div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="ExcluirPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">⚠️ Excluir Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você tem certeza que quer excuir esse post? (Essa ação não pode ser desfeita.)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <form method="POST" action="{{ url_for('excluir_post', post_id=post.id) }}">
        <button type="submit" class="btn btn-danger">Excluir</button>
          </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
